<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mikaela.hhtimer">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.PACKAGE_USAGE_STATS" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/hhsmile"
        android:label="HappyHelper"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity
            android:name=".MainActivity"
            android:configChanges="keyboardHidden|orientation"
            android:hardwareAccelerated="false"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Menu"
            android:label="@string/app_name" />
        <activity
            android:name=".About"
            android:label="@string/app_name" />
        <activity
            android:name=".Timer"
            android:label="@string/app_name" />
        <activity
            android:name=".Pop"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.PopTheme" />
        <!--
             ATTENTION: This was auto-generated to add Google Play services to your project for
             App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".Calendar"
            android:label="@string/title_activity_calendar"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".makeDeadLine"
            android:label="@string/title_activity_make_dead_line"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".appBlock.Warning"
            android:label="@string/title_activity_warning"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".appBlock.Why"
            android:label="@string/title_activity_why"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name=".appBlock.AppList" />

        <service
            android:name=".service.CoreService"
            android:exported="false" />

        <activity
            android:name=".NotificationClass"
            android:label="@string/title_activity_notification_class"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".PopDoneStudy"
            android:label="@string/title_activity_pop_done_study"
            android:theme="@style/Theme.AppCompat.NoActionBar"></activity>
    </application>

</manifest>